button {
    border: none;
    width: 95%;
    height: 95%;
    background-color: white;
    font-size: larger;
}

button:hover {
    background-color: darkgray;
}

button:focus {
    outline: 2px solid blue; 
    background-color: darkgray;
}

button:active {
    background-color: grey;
}

