footer {
    position: absolute;
    bottom: 0;
}

p {
    font-size: 16px; 
    margin: 0;
}

a {
    color: rgb(33, 202, 202);
}

a:hover {
    color: rgb(0, 110, 255);
}

a:active {
    background-color: rgb(159, 186, 209);
}